.navbar {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: rgb(90, 90, 90);
  width: 100%; /* Добавить ширину для выравнивания по центру */
}

.navlist {
  justify-content: center;
  display: flex;
  max-width: 800px; /* Примерное значение ширины, которое вы можете изменить в соответствии с вашими потребностями */
  width: 100%; /* Чтобы элементы `.navlist` занимали всю доступную ширину в `.navbar` */
}

.navlist a {
  display: block;
  padding: 2em;
  text-decoration: none;
  color: white;
}

.navlist a:hover {
  background-color: rgb(122, 122, 122);
}

body {
  background-color: white;
  background-attachment: fixed;
}

